* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #121214;

  --base-color: 220;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);

  --nav-text: #c4c4cc;
  --nav-hover: #ffffff;
  --text-content: #e1e1e6;
  --text-hover: #672020;
  --text-p: red;
  --text-h1: rgb(31, 170, 47);
}

body {
  background-image: url(./imagens/mountains-universe-1.png);
}

nav a {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--nav-text);
}

section h1 {
  color: var(--text-h1);
}

section p {
  color: var(--text-p);
}

section button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid gold;
  border-radius: 5rem;
  color: var(--text-p);
}

.content {
  font-size: 200%;
  margin-top: 4rem;
  margin-left: 3.2rem;
  background-color: rgb(158, 41, 41);
  display: flex;
  align-items: center;
  gap: 3rem;
}

.content img {
  background-color: red;
  font-size: 10%;
}

.content a + a {
  margin-left: 3.2rem;
  gap: 333px;
}

.content a {
  color: var(--nav-text);
}

.content a:hover {
  color: var(--nav-hover);
}


section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}

section p {
  margin-top: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.secao {
  margin-left: 10.2rem;
  margin-top: 18.5rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  padding: 10px;
  padding-right: 300px;
  line-height: 160%;
}
