* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#all {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

header {
  width: 28rem;
  height: 51rem;
  margin-right: 10px;
  border-radius: 20px;
  position: relative;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #8e9aaf;
}

/* header svg {
  margin-top: 60px;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
} */

header h1 {
  position: relative;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 40px;
  padding: 5px;
  width: 100%;
  background-color: #cbc0d3;
  color: #ffffff;
}

header p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;

  line-height: 24px;

  display: flex;
  padding: 40px 30px;

  text-align: center;
  color: #ffffff;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'img1 img2 img3'
    'img4 img2 img6'
    'img4 img5 img6';
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

#img1 {
  grid-area: img1;
}

#img2 {
  grid-area: img2;
}

#img3 {
  grid-area: img3;
}

#img4 {
  grid-area: img4;
}

#img5 {
  grid-area: img5;
}

#img6 {
  grid-area: img6;
}

.grid {
  display: grid;
  width: 1085px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    'img1 img2 img3'
    'img4 img2 img6'
    'img4 img5 img6';
}

footer {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 990px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  header {
    width: 95%;
    margin-top: 2rem;
    height: 95%;
  }

  header svg {
    width: 100%;
    height: 100%;
  }

  .grid {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
  }

  .img-galeria {
    margin-top: 5rem;
    padding: 2rem;
    width: 100%;
    background-size: cover;
    object-fit: cover;
  }

}