* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 377px;
  height: auto;
  background-color: #8E9AAF;
}

body {
  margin-top: 5%;
  margin-left: 5%;
}

header svg {
  margin-top: 60px;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
}

header h1 {
  position: relative;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 40px;
  padding: 5px;
  width: 100%;
  background-color: #CBC0D3;
  color: #FFFFFF;
}

header p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;

  line-height: 24px;

  display: flex;
  padding: 40px 30px;

  text-align: center;
  color: #FFFFFF;
}

.grid {
  display: grid;  
  margin: auto 382px;
  width: 1085px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 10px;
  grid-template-areas:
  "img1 img2 img3"
  "img4 img2 img6"
  "img4 img5 img6"
  ;
}

.img{
  width: 100%;
  border-radius: 30px;
}

#img1 {
  grid-area: img1;
}

#img2 {
  grid-area: img2;
}

#img3 {
  grid-area: img3;
}

#img4 {
  grid-area: img4;
}

#img5 {
  grid-area: img5;
}

#img6 {
  grid-area:img6;
}

.grid {
  display: grid;  
  margin: auto 382px;
  width: 1085px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 10px;
  grid-template-areas:
  "img1 img2 img3"
  "img4 img2 img6"
  "img4 img5 img6"
  ;
}

footer {
  font-family: 'Open Sans', sans-serif;
  
  
}