body {
  margin: 3rem;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(196, 149, 149, 0.212) 82.08%,
    rgba(74, 153, 133, 0.38) 100%
  );
}

.page {
  width: auto;
  margin: auto;
  font-family: 'Mulish', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 8rem;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

main div{ 
  display: flex;
  gap: 5rem;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
}

main div div {
  display: flex;
  flex-direction: column;
}
ul li a {
  color: #1f1534;
  text-decoration: none;
}

div a:hover {
  color: #410ab8;
  font-size: calc(1rem + 2px);
  transition: 1.4s;
}


h1 {
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  margin: auto;
  font-size: 14px;
  line-height: 28px;
  color: #7d7d7d;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  background-color: #69b99d;
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 14px 32px 15px;
  gap: 10px;
  border-radius: 42px;
}

button:hover {
  background-color: #36a37d;
  transition: 2s;
}

footer {
  font-size: 14px;
  line-height: 28px;
  margin-top: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
}

footer a {
  font-weight: bold;
  color: rgb(252, 175, 31);
}

footer a:hover {
  color: rgb(153, 100, 0);
  font-size: calc(1rem + 1px);
  transition: 3s;
}

.balls {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
  }
  main div {
    display: flex;
    flex-direction: column;
  }
}
