* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Poppins', 'sans-serif';
  --text-color: #E1E1E6;
  --text-color-hover: #f12525;
  --primary-color: #092D38;
  --botton-primary: #065E7C;
  --botton-secondary: #FFFFFF;
  --table-color1: #06161B;
  --table-color2: #4A808C;

  font-size: 62.5%;
  margin-top: 3.5rem; 
}

body {
  font-size: 1.6rem;
  color: var(--text-color);

  background-color: rgb(0, 0, 0);
}

body * {
  font-family: var(--ff-primary);
}

.sr-only { /* esconde texto para leitor ler */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* pesquisar os significado */
  border-width: 0;
}

#app {
  padding: 1rem;
  max-width: 100rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-h1);
}

.search {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.search input {
  background-color: #06181C;
  width: 190%;
  height: 3.2rem;
  color: #7C7C8A;
  border: 0px;
  border-radius: .4rem 0 0 .4rem;
  padding: 0 .8rem;
}

.search button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0 .4rem .4rem 0;
  height: 3.2rem;
  border: none;
  padding: 0 1rem;
  background-color: var(--botton-primary);
}

.search button:hover {
  background-color: var(--botton-secondary);
}

.search button:hover path {
  fill: #065E7C; 
}



.search button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse; /* retirar todos espaços da tabela */
  box-shadow: 0 1rem 2rem hsl(var(--hue), 100%, 63%) rgba(0, 0, 0, 0.3); /* fazer sombras */
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table *:hover {
  color: var(--text-color-hover);
  transition: all 2s;
  font-size: 103%;
}

table th {
  background-color: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: .8rem;
}

table th:last-child {
  border-top-right-radius: .8rem;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

table tr:nth-child(odd) { /* nth child odd é todos os filhos impares */
  background: var(--table-color1);
}


table tr:nth-child(even) { /* nth child evem é todos os filhos pares */
  background: var(--table-color2);
}


td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}


td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 105%;
  cursor: pointer;
}


















