* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #d9d9d9;
}

body::before {
  content: '';
  width: 100%;
  height: 400px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: #121214;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 74px;
}

header h1 {
  font-family: 'Archivo';
  font: bold;
  font-size: 36px;
  line-height: 42px;

  color: white;
}

header p {
  font-size: 16px;
  line-height: 26px;

  color: #42d3ff;
}

form {
  margin-top: 38px;
  min-height: 300px;
  background-color: #fafafc;
  border-radius: 8px 8px 0 0;

  padding: 64px;
  gap: 48px;

  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

fieldset legend {
  font-family: 'Archivo' sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
}

.input-wrapper label span:hover {
  color: #34294b;
  transition: 400ms;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 26px;
  color: #514864;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 15px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper label {
  gap: 16px;
  display: flex;
  align-items: center;
  display: flex;
  margin: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  display: block;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='24' height='24' rx='8' fill='%23FAFAFC' stroke='%23E6E6F0'/%3E%3Cpath d='M10 17.17L5.83 13L4.41 14.41L10 20L22 8L20.59 6.59L10 17.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer {
  background: #f0f0f4;
  height: 136px;

  display: flex;
  flex-direction: column;
  padding: 40px 65px;

  margin-bottom: 100px;

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}

footer .button {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;

  border-radius: 12px;

  background-color: #04d361;
  height: 56px;

  color: #ffffff;
}

footer .button:hover {
  background-color: #00a048;
  transition: 800ms;
}

input:invalid {
  border-color: red;
}

.lnr-eye {
  display: flex;
  position: absolute;
  top: 5px;
  right: 10px;
}

.input-password-wrapper {
  position: relative;
}

.input-password-wrapper input {
  border-radius: 0;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input-password-wrapper .eye {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
  width: 20px;
}
