body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0px;
  padding: 2% 2%;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span {
  color: #ff9900;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div {
  margin-top: 1rem;
  display: inline-flex;
  font-size: 14px;
  line-height: 28px;
  gap: 1rem;
}

footer a {
  color: rgb(188, 95, 38);
  list-style: none;
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 98, 0);
  font-size: 20px;
  transition: 2s;
}

.line {
  width: 90vw;
  border: 1px rgba(78, 66, 66, 0.4) solid;
  margin-top: 0;
}

.balls {
  position: fixed;
  bottom: -60px;
  right: 10px;
}
