* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Epilogue' 'sans serif';
  --ff-texting: 'Open sans', 'sans serif';

 --hue: 250;
 --bg-primary: hsl(var(--hue), 22%, 20%);
 --fc-primary: hsl(var(--hue), 0%, 100%);
 --fc-secondary: hsl(var(--hue), 50%, 80%);
 --fc-secondary-dark: hsl(var(--hue),100%, 11%, 1);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-heading-small: clamp(3rem, 0.5rem + 3vw, 5rem);
}

img {
  width: 100%;
  height: auto;
}

 
body{
  font-family: var(--ff-texting);
  background-color: var(--bg-primary) ;
  color: var(--fc-primary);
  font-size: var(--fs-body);
}

.page {
  max-width: clamp(33rem, 30rem + 60vw, 117rem);
  padding: 0 1rem;
  margin: 0 auto;
}

header {
  margin: 10rem 0 8rem;
  font-family: var(--ff-heading);
  text-align: center; 

}

header p {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--fc-secondary);
  
  line-height: 3.2rem;
  letter-spacing: 3px;
  margin-bottom: 1.7rem;
}

header p:hover {
  font-size: 3rem;
  transition: 400ms;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
  
}

header h1:hover {
  font-size: var(--fs-heading);
  font-size: 520%;
  transition: 400ms;
  
}

main {
  display: grid;
  gap: 3.2rem;
  padding-bottom: 4rem;
}

.card {
  position: relative;

  font-family: var(--ff-heading);
  animation: cimaprabaixo 5s backwards;
} 

.card img {
  height: 45.6rem;
  object-fit: cover;
  filter: brightness(0.5);
  border-radius: 6px;
  transition: all 200ms;
}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.6;
  transition: all 200ms;
}


.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  
  font-size: var(--fs-heading-small);
  font-weight: 800;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.card h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fc-secondary-dark);
  padding: 0 1.6rem;
  
  width: fit-content;
  height: 3.8rem;
  
  display: inline-flex;
  align-items: center;
  
}



@keyframes cimaprabaixo {
  0% {
    opacity: 0;
    
    transform: translate(20px);
    
  }
  
  50% {
    opacity: 0.9;
    transform: translate(60px);
  }
  
  100% {
    opacity: 1;

  }
}

@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  /*
.page {
    max-width: 117rem;
    padding: 0 4rem;
  }
  */
}
@media (min-width: 930px) {
  main {
    grid-template-areas: "A A B" 
    "C D D";
  }  
  
  main div:nth-child(1) {
    grid-area: A;
    
    
  }
  
  main div:nth-child(2) {
    grid-area: B;
  
  }
  
  main div:nth-child(3) {
    grid-area: C;
    
  }
  
  main div:nth-child(4) {
    grid-area: D;
    
  }
}
  
  
  
  
  
  
  



